/* SPACING */

//////////////////////////
/* CONTAINER */
.container {
  max-width: 114rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

//////////////////////////
/* BACKGROUND */
.bg--gray {
  background-color: $color-gray-background;
}

//////////////////////////
/* BUTTON */
%button {
  border: none;
  cursor: pointer;
}

.btn--primary {
  @extend %button;
  background-color: $color-primary;
  color: $color-white;
}

//////////////////////////
/* BANNER */
.banner {
  @include placeImg;
}

//////////////////////////
/* POSITION */
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
