/* TYPOGRAPHY */
.heading--2 {
  font-size: 2.8rem;

  @include respond(sm) {
    font-size: 2rem;
  }
}

.heading--3 {
  font-size: 2rem;
}

.text-primary {
  color: $color-primary;
}

.fz-small-link-btn {
  font-size: 1.2rem;
}

//////////////////////////
/* CONTAINER */
.container {
  --padding: 4.8rem;
  @include respond(md) {
    --padding: 2.4rem;
  }
  @include respond(sm) {
    --padding: 2rem;
  }

  max-width: 114rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--padding);
  padding-right: var(--padding);
}

.main-padding-y {
  --padding-y: 6.4rem;
  padding-top: var(--padding-y);
  padding-bottom: var(--padding-y);

  @include respond(sm) {
    padding-top: 3.6rem;
  }
}

//////////////////////////
/* BACKGROUND */
.bg--gray {
  background-color: $color-gray-background;
}

//////////////////////////
/* BUTTON + INPUT */
%button {
  border: none;
  cursor: pointer;
  transition: $trans-short;
}

.btn--primary {
  @extend %button;
  background-color: $color-primary;
  color: $color-white;

  &:hover {
    background-color: $color-primary-light-hover-btn;
  }
}

.btn--sub {
  @extend %button;
  background-color: $color-white-background;
  color: $color-primary;
  border: $border-primary-thin;

  &:hover {
    background-color: $color-primary;
    color: $color-white;
  }
}

.pagination__btn {
  @extend %button;
}

.btn--link {
  @extend %button;
  @include primaryLink(button);
  line-height: 1.2;
  display: inline-block;
}

.btn--counter {
  @extend %button;
  background-color: $color-white-background;
  border: $border-gray-thin;

  &:hover {
    color: $color-primary;
    border: $border-primary-thin;
    background-color: $color-primary-light-2;
  }
}

.input-border {
  background-color: $color-gray-search-placeholder;
  border: $border-gray-thin;
  border-radius: $border-radius-sm;
}

//////////////////////////
/* BANNER */
.banner {
  @include placeImg;
}

//////////////////////////
/* POSITION */
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
