@mixin placeImg {
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@mixin position-top-left {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin position-top-right {
  position: absolute;
  top: 0;
  right: 0;
}

@mixin position-top-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin setDivider(
  $color: #000,
  $capacity: 100%,
  $thickness: 1px,
  $dir: horizontal
) {
  .divider {
    background-color: $color;

    @if $dir == horizontal {
      width: $capacity;
      height: $thickness;
      transform: translateX(
        calc(((100% - $capacity) * 100 / 2) / $capacity) * 1%
      );
    }

    @if $dir == vertical {
      height: $capacity;
      width: $thickness;
      transform: translateY(
        calc(((100% - $capacity) * 100 / 2) / $capacity) * 1%
      );
    }
  }
}

@mixin primaryLink($type: link) {
  @if $type == link {
    & {
      color: $color-primary;
      transition: $trans-short;
    }

    &:hover {
      color: $color-primary-light-hover-link;
    }
  }

  @if $type == button {
    & {
      color: $color-primary;
      border-bottom: $border-primary-thin;
      transition: $trans-short;
    }

    &:hover {
      color: $color-primary-light-hover-link;
      border-bottom: $border-primary-hover;
    }
  }
}

@mixin category-list-hover {
  background-color: $color-primary-light-greyish;
  color: $color-primary;
}

@mixin category-list-transition {
  transition: $trans-short;
}

@mixin setSelectStyle {
  padding: 0.2rem;
  border-radius: 3px;
  border: $border-primary-thin;
  margin-bottom: 2.4rem;

  &:not(:last-child) {
    margin-right: 1.8rem;
  }
}

@mixin setPriceStyle {
  &--current {
    color: $color-primary;
  }

  &--old {
    color: $color-red;
  }
}
