:root {
  --brands-number: 10;
  --products-number: 10;
}

/* COLOR */
$color-primary: #1e90ff;
$color-primary-light: #c8e4ff;
$color-primary-light-2: #eaf5ff;
$color-primary-light-greyish: darken(#fbfdff, 2%);
$color-primary-light-hover-link: lighten($color-primary, 15%);
$color-primary-light-hover-btn: darken($color-primary, 10%);

$color-red: #e74c3c;

$color-black: #000;

$color-white: #fff;
$color-white-background: #fff;
$color-gray-background: #f4f4f4;
$color-gray-search-placeholder: #f6f6f6;
$color-gray-border-bottom: #cfcfcf;

$color-text-gray: #7c7c7c;

//////////////////////////
/* SPACING */

//////////////////////////
/* BORDER */
$border-primary-thin: 1px solid $color-primary;
$border-gray-thin: 1px solid $color-gray-border-bottom;
$border-white-thin: 1px solid $color-white;

$border-radius-bg: 1rem;

//////////////////////////
/* TRANSITION */
$trans-short: all 0.2s;
$trans-medium: all 0.35s;

//////////////////////////
/* BOX SHADOW */
$box-shadow-card: 0 2px 4px rgba(0, 0, 0, 0.15);
$box-shadow-card-hover: 0 4px 10px rgba(0, 0, 0, 0.2);
$box-shadow-slider-btn: 0 1px 3px rgba(0, 0, 0, 0.1);
