@mixin handleSpacing($type) {
  @if $type == p {
    @include respond(xlg) {
      padding-bottom: 9.6rem;
    }

    @include respond(sm) {
      padding-bottom: 7.2rem;
    }
  }

  @if $type == m {
    @include respond(xlg) {
      margin-bottom: 9.6rem;
    }

    @include respond(sm) {
      margin-bottom: 7.2rem;
    }
  }
}

.section-billboards,
.section-brands-and-products {
  padding-bottom: 12rem;

  @include handleSpacing(p);
}

.section-billboards {
  padding-top: 6rem;

  @include respond(md) {
    padding-top: 4.8rem;
  }
}

.section-categories,
.section-info {
  margin-bottom: 12rem;

  @include handleSpacing(m);
}
