.section-product-detail {
  display: grid;
  grid-template-columns: 7fr 5fr;
  column-gap: 3.2rem;
  align-items: flex-start;

  // NOT FOUND MESSAGE
  @include setNotFoundMessage;

  @include respond(bg) {
    grid-template-columns: 1fr;
  }

  .product-description {
    background-color: $color-white-background;

    &__gallery {
      margin-bottom: 4.2rem;

      &__big-img {
        @include placeImg;
        margin-bottom: 1.8rem;
        position: relative;

        .large-image {
          transition: $trans-short;
        }

        .slider-btn--prev {
          left: 0;
        }

        .slider-btn--next {
          right: 0;
        }
      }

      &__small-images-container {
        display: flex;
        justify-content: center;
        padding-bottom: 4px;

        .small-image {
          --img-size: 4.2rem;
          height: var(--img-size);
          width: var(--img-size);
          opacity: 0.7;
          transition: $trans-short;
          cursor: pointer;
          @include placeImg;

          &:not(:last-child) {
            margin-right: 1.8rem;
          }

          &:hover,
          &.active {
            opacity: 1;
            box-shadow: 0 0 0 2px $color-primary;
          }
        }
      }
    }

    &__text {
      padding: 3.6rem 2.4rem;
      padding-top: 0;

      @include respond(bg) {
        margin-top: 2.8rem;
      }

      &__title {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1rem;
      }

      &__specification-list {
        margin-bottom: 3.2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  .product-order {
    background-color: $color-white-background;
    padding: 2.4rem;

    @include setDivider($color-primary);

    &--origin {
      @include respond(bg) {
        display: none;
      }
    }

    &--responsive {
      display: none;

      @include respond(bg) {
        display: block;
      }
    }

    &__title-info {
      .heading--3 {
        margin-bottom: 0.6rem;
        line-height: 1.4;
      }

      &__distributor {
        font-size: 1.3rem;
        margin-bottom: 2.4rem;

        a {
          @include primaryLink;
        }
      }
    }

    &__promotion-list {
      background-color: $color-primary-light-2;
      line-height: 1.6;
      list-style: disc;
      padding: 1.6rem 1.6rem 1.6rem 2.8rem;
      margin-bottom: 3.2rem;

      li:not(:last-child) {
        margin-bottom: 1.2rem;
      }
    }

    &__price-container {
      display: flex;
      align-items: flex-end;
      margin-bottom: 1.6rem;
    }

    &__price-tag {
      line-height: 1.6;
      font-size: 2.8rem;
      color: $color-primary;
      margin-right: 1.2rem;

      &--old {
        font-size: 1.8rem;
        color: red;
      }
    }

    &__product-filter {
      margin-bottom: 3.2rem;

      select {
        @include setSelectStyle;
        margin-right: 1.2rem;
        margin-bottom: 1.2rem;
      }
    }

    &__action {
      display: grid;
      grid-template-columns: 1fr 1.5fr;
      column-gap: 1.6rem;
      row-gap: 2rem;
      margin-bottom: 5.6rem;

      @include respond(lg) {
        grid-template-columns: 1fr;
      }

      @include respond(bg) {
        grid-template-columns: 1fr 1.5fr;
      }

      @include respond(sm) {
        grid-template-columns: 1fr;
      }

      button {
        font-size: 1.8rem;
        font-weight: 700;

        --padding-size: 1rem;
        @include respond(lg) {
          --padding-size: 1.2rem;
        }
        padding-top: var(--padding-size);
        padding-bottom: var(--padding-size);

        &.is-favorite {
          background-color: $color-primary;
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            fill: $color-white;
            height: 2.4rem;
            width: 2.4rem;
          }
        }
      }
    }

    &__policy-title {
      font-weight: 700;
      font-size: 1.8rem;
      margin-bottom: 1.8rem;
      margin-top: 1.8rem;
    }

    &__policy-list {
      li {
        display: flex;
        align-items: center;
        line-height: 1.5;

        &:not(:last-child) {
          margin-bottom: 1.2rem;
        }

        .policy-icon {
          --icon-size: 2.8rem;
          height: var(--icon-size);
          width: var(--icon-size);

          @include placeImg;
        }

        .policy-description {
          margin-left: 1.2rem;
        }
      }
    }
  }
}
