.section-orders-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 4.8rem;

  .order-table-head {
    @include setDivider;

    &__row {
      border-bottom: $border-primary-md;

      th {
        padding-bottom: 0.6rem;
        font-size: 1.6rem;
      }

      th:first-child {
        text-align: left;
      }

      th:last-child {
        text-align: right;
      }

      .th-price,
      .th-quantity {
        padding-right: 2.4rem;
      }
    }
  }

  .order-card {
    border-bottom: $border-gray-thin;

    td {
      --padding-size: 2.4rem;
      padding-top: var(--padding-size);
      padding-bottom: var(--padding-size);
    }

    &__img,
    &__text,
    &__price-box,
    &__product-quantity {
      padding-right: 3.2rem;
    }

    &__img {
      max-width: 18rem;
      @include placeImg;
    }

    &__text {
      &__title {
        font-size: 1.8rem;
      }

      &__delivery-info {
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
      }

      &__action {
        .btn--link {
          font-size: 1.4rem;

          &:not(:last-child) {
            margin-right: 2.4rem;
          }
        }
      }
    }

    &__price-box {
      &__price {
        @include setPriceStyle;
      }
    }

    &__product-quantity {
      &__form-control {
        display: flex;
        justify-content: center;

        .btn--counter,
        input {
          --size: 3.6rem;
          height: var(--size);
          width: var(--size);
        }

        .btn--counter {
          font-size: 1.8rem;
        }

        input {
          text-align: center;
          border-top: $border-gray-thin;
          border-bottom: $border-gray-thin;
        }
      }
    }

    &__total-price {
      text-align: right;
    }
  }
}

.section-form-check-out {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16rem;
  margin-top: 8rem;

  @include setDivider($color-gray-border-bottom);

  .field-title {
    font-size: 2.2rem;
    font-weight: 500;
    border-bottom: $border-primary-md;
  }

  .user-info-field {
    &__form-control {
      display: flex;
      align-items: center;
      margin-top: 2.4rem;

      &:not(:last-child) {
        margin-bottom: 1.6rem;
      }

      label {
        margin-right: auto;

        sup {
          color: $color-red;
        }
      }

      input {
        width: 60%;
        padding: 0.8rem 1.2rem;
        margin-right: 1.8rem;
      }
    }
  }

  .payment-info-field {
    &__segment {
      display: grid;
      grid-template-columns: 1fr 2fr;
      margin-top: 2.4rem;
      margin-bottom: 2.4rem;

      &__title {
      }

      &__form {
        display: flex;
        flex-direction: column;

        .btn--link {
          margin-left: 1rem;
        }

        .price-net {
          text-align: right;
        }

        .extra-count-box {
          display: grid;
          grid-template-columns: 1fr 10rem;
          justify-items: flex-end;
          margin: 1.2rem 0;
        }

        .promotion-code {
          display: flex;

          input {
            margin-left: auto;
            margin-right: 1rem;
            padding: 0 1.2rem;
            width: 45%;
          }

          button {
            padding: 0.6rem 1rem;
            font-size: 1.2rem;
          }
        }

        .payment-form-checkbox {
          display: flex;
          align-items: center;

          input {
            margin-right: 0.8rem;
          }
        }

        .shipment-location {
          display: flex;
          align-items: center;
        }
      }
    }

    &__total {
      border-top: $border-primary-md;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 700;
      font-size: 1.8rem;
      padding-top: 1.2rem;
      padding-bottom: 2rem;
    }

    .button-submit {
      font-weight: 500;
      font-size: 1.8rem;
      width: 100%;
      padding: 1.2rem 0;
    }
  }
}
