.section-orders-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 4.8rem;

  .order-table-head {
    @include setDivider;

    &__row {
      border-bottom: $border-primary-md;

      th {
        padding-bottom: 0.6rem;
        font-size: 1.6rem;
      }

      th:first-child {
        text-align: left;
      }

      th:last-child {
        text-align: right;

        @include respond(md) {
          display: none;
        }
      }

      .th-price,
      .th-quantity {
        padding-right: 2.4rem;
      }

      .th-price {
        @include respond(bg) {
          display: none;
        }
      }

      .th-quantity {
        @include respond(lg) {
          display: none;
        }
      }
    }
  }

  .order-card {
    border-bottom: $border-gray-thin;

    td {
      --padding-size: 2.4rem;
      padding-top: var(--padding-size);
      padding-bottom: var(--padding-size);
    }

    &__img,
    &__text,
    &__price-box,
    &__product-quantity {
      padding-right: 3.2rem;
    }

    &__img {
      vertical-align: top;
      max-width: 18rem;
      max-height: 18rem;
      @include placeImg;

      &.img-origin {
        @include respond(sm) {
          display: none;
        }
      }
    }

    &__text {
      display: flex;
      flex-direction: column;

      .img-responsive {
        display: none;

        @include respond(sm) {
          display: block;
          padding-right: 0;
          max-width: 32rem;
          max-height: 32rem;
          margin-bottom: 2.8rem;
        }
      }

      .quantity-control-responsive {
        display: none;

        @include respond(lg) {
          display: flex;
          justify-content: flex-start;
          margin-top: 2.4rem;
        }
      }

      .price-box-responsive {
        display: none;
        margin-top: 0.8rem;

        .price-title-repsonsive {
          display: none;

          @include respond(md) {
            display: inline-block;
          }
        }

        @include respond(bg) {
          display: block;
        }

        @include respond(md) {
          display: flex;
          margin-bottom: 1.2rem;

          .order-card__price-box__price--current {
            margin-right: 1.2rem;
          }
        }
      }

      .total-price-responsive {
        display: none;
        text-align: left;

        @include respond(md) {
          display: block;
        }
      }

      &__title {
        font-size: 1.8rem;
        margin-bottom: 1rem;
      }

      &__specification-list {
        max-width: 30rem;
        font-size: 1.2rem;
        color: $color-text-gray;
        display: flex;
        flex-wrap: wrap;

        li:not(:last-child) {
          margin-right: 1.6rem;
        }
      }

      &__action {
        margin-top: 2.4rem;

        .btn--link {
          font-size: 1.4rem;

          &:not(:last-child) {
            margin-right: 2.4rem;
          }
        }
      }
    }

    &__price-box {
      &.price-box-origin {
        @include respond(bg) {
          display: none;
        }
      }

      &__price {
        @include setPriceStyle;
      }
    }

    &__product-quantity {
      @include respond(lg) {
        display: none;
      }

      &__form-control {
        display: flex;
        justify-content: center;

        &.quantity-control-origin {
          @include respond(lg) {
            display: none;
          }
        }

        .btn--counter,
        input {
          --size: 3.6rem;
          height: var(--size);
          width: var(--size);
        }

        .btn--counter {
          font-size: 1.8rem;
        }

        input {
          text-align: center;
          border-top: $border-gray-thin;
          border-bottom: $border-gray-thin;
        }
      }
    }

    &__total-price {
      text-align: right;

      &.total-price-origin {
        @include respond(md) {
          display: none;
        }
      }
    }
  }
}

.section-form-check-out {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16rem;
  margin-top: 8rem;

  @include respond(xlg) {
    grid-template-columns: 1fr 1.2fr;
    column-gap: 10rem;
  }

  @include respond(lg) {
    grid-template-columns: 1fr 1.5fr;
    column-gap: 8rem;
  }

  @include respond(bg) {
    grid-template-columns: 1fr;
  }

  @include setDivider($color-gray-border-bottom);

  .field-title {
    font-size: 2.2rem;
    font-weight: 500;
    border-bottom: $border-primary-md;
  }

  .user-info-field {
    @include respond(bg) {
      margin-bottom: 4.8rem;
    }

    &__form-control {
      display: flex;
      align-items: center;
      margin-top: 2.4rem;

      @include respond(lg) {
        flex-direction: column;
        align-items: flex-start;
      }

      @include respond(bg) {
        flex-direction: row;
        align-items: center;
      }

      @include respond(sm) {
        flex-direction: column;
        align-items: flex-start;
      }

      &:not(:last-child) {
        margin-bottom: 1.6rem;
      }

      label {
        width: 100%;
        max-width: 14rem;

        sup {
          color: $color-red;
        }
      }

      input {
        flex: 1;
        padding: 0.8rem 1.2rem;

        @include respond(lg) {
          margin-top: 0.6rem;
        }

        @include respond(bg) {
          margin-right: 16rem;
        }

        @include respond(md) {
          margin-right: 10rem;
        }

        @include respond(sm) {
          margin-right: 0;
          width: 80%;
        }

        @include respond(sm) {
          margin-right: 0;
          width: 100%;
        }
      }
    }
  }

  .payment-info-field {
    &__segment {
      display: grid;
      grid-template-columns: 1fr 2fr;
      margin-top: 2.4rem;
      margin-bottom: 2.4rem;

      @include respond(lg) {
        grid-template-columns: 1fr 2.8fr;
      }

      @include respond(sm) {
        grid-template-columns: 1fr;
      }

      &__title {
        @include respond(sm) {
          font-weight: 500;
          margin-bottom: 1.2rem;
        }
      }

      &__form {
        display: flex;
        flex-direction: column;

        .btn--link {
          margin-left: 1rem;
        }

        .price-net {
          text-align: right;
        }

        .extra-count-box {
          display: grid;
          grid-template-columns: 1fr 10rem;
          justify-items: flex-end;
          margin: 1.2rem 0;
        }

        .promotion-code {
          display: flex;

          input {
            margin-left: auto;
            margin-right: 1rem;
            padding: 0 1.2rem;
            width: 45%;
          }

          button {
            padding: 0.6rem 1rem;
            font-size: 1.2rem;
          }
        }

        .payment-form-checkbox {
          display: flex;
          align-items: center;
          margin-bottom: 0.8rem;

          input {
            margin-right: 0.8rem;
          }
        }

        .shipment-location {
          display: flex;
          align-items: center;
        }
      }
    }

    &__total {
      border-top: $border-primary-md;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 700;
      font-size: 1.8rem;
      padding-top: 1.2rem;
      padding-bottom: 2rem;
    }

    .button-submit {
      font-weight: 500;
      font-size: 1.8rem;
      width: 100%;
      padding: 1.2rem 0;
    }
  }
}
