:root {
  --container-padding: 4.8rem;
}
@media only screen and (max-width: 31.25em) {
  :root {
    --container-padding: 2.4rem;
  }
}

/* COLOR */
/* SPACING */
/* BORDER */
/* TRANSITION */
/* BOX SHADOW */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.7;
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

input {
  outline: none;
  border: none;
}

.heading--2 {
  font-size: 2.8rem;
}

.heading--3 {
  font-size: 2rem;
}

/* SPACING */
/* CONTAINER */
.container {
  max-width: 114rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

/* BACKGROUND */
.bg--gray {
  background-color: #f4f4f4;
}

/* BUTTON */
.btn--primary {
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: #1e90ff;
  color: #fff;
}

/* BANNER */
.banner img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* POSITION */
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-header {
  position: relative;
  z-index: 300;
}
.page-header .header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cfcfcf;
  position: relative;
}
.page-header .header-bar__logo {
  width: 8.6rem;
}
.page-header .header-bar__logo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 50em) {
  .page-header .header-bar__logo {
    width: 7.2rem;
  }
}
.page-header .header-bar__search-control {
  background-color: red;
  position: relative;
  display: flex;
  width: 30%;
  background: #f6f6f6;
  border-bottom: 1px solid #1e90ff;
}
.page-header .header-bar__search-control.active {
  display: flex;
}
@media only screen and (max-width: 81.25em) {
  .page-header .header-bar__search-control {
    width: 40%;
  }
}
@media only screen and (max-width: 60em) {
  .page-header .header-bar__search-control {
    width: 50%;
  }
}
@media only screen and (max-width: 50em) {
  .page-header .header-bar__search-control {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%);
    display: none;
  }
}
.page-header .header-bar__search-control .search-icon {
  position: absolute;
  top: 50%;
  left: 1.2rem;
  transform: translateY(-50%);
}
.page-header .header-bar__search-control .search-icon svg {
  --icon-size: 1.4rem;
  height: var(--icon-size);
  width: var(--icon-size);
}
.page-header .header-bar__search-control input {
  flex: 1;
  background: transparent;
  padding: 1rem 0;
  padding-left: 4rem;
}
@media only screen and (max-width: 50em) {
  .page-header .header-bar__search-control input {
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    background-color: #fff;
    border-top: 1px solid #cfcfcf;
  }
}
.page-header .header-bar__search-control button {
  display: block;
  padding: 0 1.6rem;
}
.page-header .header-bar__tools-box {
  display: flex;
}
.page-header .header-bar__tools-box .tool-icon {
  cursor: pointer;
}
.page-header .header-bar__tools-box .tool-icon--search, .page-header .header-bar__tools-box .tool-icon--menu {
  display: none;
}
@media only screen and (max-width: 50em) {
  .page-header .header-bar__tools-box .tool-icon--search, .page-header .header-bar__tools-box .tool-icon--menu {
    display: block;
  }
}
@media only screen and (max-width: 50em) {
  .page-header .header-bar__tools-box .tool-icon--user, .page-header .header-bar__tools-box .tool-icon--heart {
    display: none;
  }
}
.page-header .header-bar__tools-box .tool-icon:not(:last-child) {
  margin-right: 2.8rem;
}
@media only screen and (max-width: 22.5em) {
  .page-header .header-bar__tools-box .tool-icon:not(:last-child) {
    margin-right: 2rem;
  }
}
.page-header .header-bar__tools-box .tool-icon svg {
  --icon-size: 2.4rem;
  height: var(--icon-size);
  width: var(--icon-size);
}
@media only screen and (max-width: 31.25em) {
  .page-header .header-bar__tools-box .tool-icon svg {
    --icon-size: 2rem;
  }
}
.page-header .header-category {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.page-header .header-category .divider {
  background-color: #cfcfcf;
  width: 100%;
  height: 1px;
  transform: translateX(0%);
}
.page-header .header-category .divider {
  display: none;
}
@media only screen and (max-width: 50em) {
  .page-header .header-category .divider {
    display: block;
  }
}
@media only screen and (max-width: 50em) {
  .page-header .header-category {
    width: 40%;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(calc(100% - 1px));
    display: none;
  }
  .page-header .header-category.active {
    display: block;
  }
}
@media only screen and (max-width: 40em) {
  .page-header .header-category {
    width: 100%;
  }
}
.page-header .header-category__list {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 50em) {
  .page-header .header-category__list {
    flex-direction: column;
  }
}
.page-header .header-category__list__item {
  transition: all 0.2s;
}
@media only screen and (max-width: 50em) {
  .page-header .header-category__list__item {
    width: 100%;
    text-align: center;
  }
}
.page-header .header-category__list__item a {
  font-size: 1.6rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  display: inline-block;
  width: 100%;
}
@media only screen and (max-width: 50em) {
  .page-header .header-category__list__item a {
    padding: 1rem 0;
  }
}
.page-header .header-category__list__item:not(:last-child) {
  margin-right: 6.4rem;
}
@media only screen and (max-width: 60em) {
  .page-header .header-category__list__item:not(:last-child) {
    margin-right: 3.6rem;
  }
}
@media only screen and (max-width: 50em) {
  .page-header .header-category__list__item:not(:last-child) {
    margin-right: 0;
  }
}
.page-header .header-category__list__item:last-child {
  color: #1e90ff;
}
.page-header .header-category__list__item:last-child {
  color: #1e90ff;
}
.page-header .header-category__list__item:hover {
  color: #1e90ff;
}
@media only screen and (max-width: 50em) {
  .page-header .header-category__list__item:hover {
    background-color: #f1f8ff;
    color: #1e90ff;
  }
}
.page-header .header-category__list__item:last-child:hover {
  color: #006ad1;
}
.page-header .header-category .tool-box-menu {
  display: none;
}
@media only screen and (max-width: 50em) {
  .page-header .header-category .tool-box-menu {
    display: block;
  }
}
.page-header .header-category .tool-box-menu__item {
  padding-left: 3.6rem;
  font-size: 1.6rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}
@media only screen and (max-width: 40em) {
  .page-header .header-category .tool-box-menu__item {
    padding-left: 0;
  }
}
.page-header .header-category .tool-box-menu__item:hover {
  background-color: #f1f8ff;
  color: #1e90ff;
  transition: all 0.2s;
}
.page-header .header-category .tool-box-menu__item a {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 40em) {
  .page-header .header-category .tool-box-menu__item a {
    justify-content: center;
  }
}
.page-header .header-category .tool-box-menu__item__icon {
  display: flex;
  align-items: center;
  margin-right: 2.4rem;
}
@media only screen and (max-width: 31.25em) {
  .page-header .header-category .tool-box-menu__item__icon {
    margin-right: 1.6rem;
  }
}
.page-header .header-category .tool-box-menu__item__icon svg {
  --icon-size: 2.4rem;
  height: var(--icon-size);
  width: var(--icon-size);
}
@media only screen and (max-width: 31.25em) {
  .page-header .header-category .tool-box-menu__item__icon svg {
    --icon-size: 2rem;
  }
}

.footer-divider {
  height: 1px;
  background-color: #cfcfcf;
}

.page-footer .divider {
  background-color: #cfcfcf;
  width: 100%;
  height: 1px;
  transform: translateX(0%);
}

.footer-content {
  margin: 4.8rem auto;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: flex-start;
}
.footer-content__column .heading--3 {
  font-weight: 500;
  margin-bottom: 2rem;
}
.footer-content__column__list {
  color: #7c7c7c;
  margin-bottom: 2.8rem;
  transition: all 0.2s;
}
.footer-content__column__list li strong {
  color: #000;
  transition: all 0.2s;
}
.footer-content__column__list li:not(:last-child) {
  margin-bottom: 1rem;
}
.footer-content__column__list li:hover {
  color: #1e90ff;
}
.footer-content__column__list li:hover strong {
  color: inherit;
}
.footer-content__column .footer-logo {
  --logo-size: 12rem;
  height: var(--logo-size);
  width: var(--logo-size);
}
.footer-content__column .footer-logo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer-content__column .footer-copyright {
  font-size: 1.2rem;
}
.footer-content__column .certificate-logo {
  --logo-width: 18rem;
  width: var(--logo-width);
  height: auto;
}
.footer-content__column .certificate-logo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer-content__column .footer-social-box svg {
  --icon-size: 2.4rem;
  height: var(--icon-size);
  width: var(--icon-size);
  color: #1e90ff;
  margin-right: 1.2rem;
}

.section-billboards,
.section-brands-and-products {
  padding-bottom: 12rem;
}

.section-billboards {
  padding-top: 6rem;
}

.section-categories,
.section-info {
  margin-bottom: 12rem;
}

.billboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
}
.billboard__banners {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.8rem;
}
.billboard__banners__item--1 {
  grid-row: 1/2;
  grid-column: 1/span 3;
}
.billboard__banners__item--2 {
  grid-row: 2/3;
  grid-column: 1/span 2;
}
.billboard__banners__item--3 {
  grid-row: 2/3;
  grid-column: 3/span 1;
}

.main-cards:not(:last-child) {
  padding-bottom: 9rem;
}
.main-cards__top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.4rem;
}
.main-cards__top-bar__icon {
  --icon-size: 4.2rem;
  height: var(--icon-size);
  width: var(--icon-size);
  margin-right: 2.4rem;
}
.main-cards__top-bar__icon img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-cards__top-bar .heading--2 {
  flex: 1;
}
.main-cards__top-bar__see-more {
  display: flex;
  align-items: center;
  color: #1e90ff;
  transition: all 0.2s;
}
.main-cards__top-bar__see-more:hover {
  color: #6bb6ff;
}
.main-cards__top-bar__see-more a {
  color: inherit;
  font-weight: 500;
  font-size: 1.6rem;
  margin-right: 0.6rem;
}
.main-cards__top-bar__see-more .icon-arrow {
  display: flex;
  align-items: center;
}
.main-cards__top-bar__see-more .icon-arrow svg {
  --icon-size: 1.4rem;
  height: var(--icon-size);
  width: var(--icon-size);
  color: inherit;
}
.main-cards__cards {
  display: grid;
  overflow: hidden;
  padding: 0.8rem;
  position: relative;
  --slider-btn-spacing: 0.8rem;
}
.main-cards__cards .card-img img,
.main-cards__cards .card-brand-logo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-cards__cards.variant-banner {
  --column-gap: 4.8rem;
  --column-width: calc((100% - var(--column-gap) * 2) / 3);
  grid-template-columns: repeat(4, var(--column-width));
  column-gap: var(--column-gap);
}
.main-cards__cards.variant-product {
  --column-gap: 3.2rem;
  --column-width: calc((100% - var(--column-gap) * 3) / 4);
  grid-template-columns: repeat(5, var(--column-width));
  column-gap: var(--column-gap);
}
.main-cards__cards__brand-card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  transition: all 0.2s;
}
.main-cards__cards__brand-card,
.main-cards__cards__brand-card .card-img {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow: hidden;
}
.main-cards__cards__brand-card .card-brand-logo {
  background-color: #fff;
  padding: 2.4rem 5.6rem;
}
.main-cards__cards__product-card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  transition: all 0.2s;
}
.main-cards__cards__product-card .card-text {
  padding: 2rem 2.8rem;
}
.main-cards__cards__product-card .card-text__price--current {
  font-size: 1.6rem;
  color: #1e90ff;
}
.main-cards__cards__product-card .card-text__price--old {
  font-size: 1.6rem;
  color: #e74c3c;
  margin-bottom: 1.6rem;
}
.main-cards__cards__product-card .card-text__product-title {
  font-size: 1.8rem;
}
.main-cards__cards__brand-card:hover, .main-cards__cards__product-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
.main-cards__cards__btn--prev, .main-cards__cards__btn--next {
  --button-size: 4.8rem;
  height: var(--button-size);
  width: var(--button-size);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #1e90ff;
  cursor: pointer;
}
.main-cards__cards__btn--prev svg, .main-cards__cards__btn--next svg {
  --icon-size: 1.8rem;
  height: var(--icon-size);
  width: var(--icon-size);
  color: #1e90ff;
}
.main-cards__cards__btn--prev {
  left: var(--slider-btn-spacing);
}
.main-cards__cards__btn--next {
  right: var(--slider-btn-spacing);
}

.product-categories {
  display: grid;
  grid-template-areas: "living living bed bed" "garden kids kitchen appliances";
}
.product-categories__item {
  position: relative;
}
.product-categories__item__img {
  overflow: hidden;
}
.product-categories__item__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-categories__item img {
  transition: all 0.35s;
}
.product-categories__item:hover img {
  transform: scale(1.05);
}
.product-categories__item:hover .product-categories__item__link {
  backdrop-filter: brightness(100%);
}
.product-categories__item:hover .product-categories__item__link .category-title {
  background-color: #fff;
  color: #1e90ff;
  animation: category-moveUp 0.3s;
  animation-fill-mode: forwards;
}
@keyframes category-moveUp {
  100% {
    transform: translate(-50%, -60%);
  }
}
.product-categories__item--living-room {
  grid-area: living;
}
.product-categories__item--bed-room {
  grid-area: bed;
}
.product-categories__item--garden {
  grid-area: garden;
}
.product-categories__item--kids {
  grid-area: kids;
}
.product-categories__item--kitchen {
  grid-area: kitchen;
}
.product-categories__item--appliances {
  grid-area: appliances;
}
.product-categories__item__link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: brightness(65%);
  width: 100%;
  height: 100%;
  transition: all 0.35s;
}
.product-categories__item__link .category-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  top: 75%;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 300;
  padding: 0.6rem 2.4rem;
  border: 1px solid #fff;
  transition: all 0.35s;
}

.banner-wide {
  margin-bottom: 9rem;
}
.banner-wide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-features {
  display: flex;
  margin-bottom: 9rem;
}
.info-features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.info-features__item:not(:last-child) {
  margin-right: 6.4rem;
}
.info-features__item__img {
  --img-size: 9.6rem;
  height: var(--img-size);
  width: var(--img-size);
  margin-bottom: 3.6rem;
}
.info-features__item__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info-features__item__title {
  font-size: 1.8rem;
  font-weight: 500;
  flex: 1;
}
.info-features__item__paragraph {
  margin-top: 1.8rem;
  font-size: 1.3rem;
}

.info-cta {
  background-color: #c8e4ff;
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-cta__description {
  margin-right: 4.8rem;
  font-size: 1.6rem;
}
.info-cta__form {
  flex: 0.4;
  display: flex;
}
.info-cta__form input {
  background-color: #f6f6f6;
  flex: 1;
  padding: 1.2rem 2.4rem;
  border-bottom: 1px solid #1e90ff;
}
.info-cta__form input::placeholder {
  font-size: 1.4rem;
}
.info-cta__form button {
  --padding: 2.4rem;
  padding-left: var(--padding);
  padding-right: var(--padding);
}
