/* COLOR */
/* SPACING */
/* BORDER */
/* TRANSITION */
/* BOX SHADOW */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.7;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

input {
  outline: none;
}

.heading--2 {
  font-size: 2.8rem;
}

/* SPACING */
.p-container {
  padding-left: 4.8rem;
  padding-right: 4.8rem;
}

/* CONTAINER */
.container {
  max-width: 114rem;
  margin-left: auto;
  margin-right: auto;
}

/* BACKGROUND */
.bg--gray {
  background-color: #f4f4f4;
}

/* BUTTON */
.btn--primary {
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: #1e90ff;
  color: #fff;
}

/* BANNER */
.banner img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* POSITION */
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-header .header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cfcfcf;
}
.page-header .header-bar__logo {
  width: 8.6rem;
}
.page-header .header-bar__logo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.page-header .header-bar__search-control {
  background-color: red;
  position: relative;
  display: flex;
  width: 30%;
  background: #f6f6f6;
  border-bottom: 1px solid #1e90ff;
}
.page-header .header-bar__search-control .search-icon {
  position: absolute;
  top: 50%;
  left: 1.2rem;
  transform: translateY(-50%);
}
.page-header .header-bar__search-control .search-icon svg {
  --icon-size: 1.4rem;
  height: var(--icon-size);
  width: var(--icon-size);
}
.page-header .header-bar__search-control input {
  flex: 1;
  border: none;
  background: transparent;
  padding: 1rem 0;
  padding-left: 4rem;
}
.page-header .header-bar__search-control button {
  display: block;
  padding: 0 1.6rem;
}
.page-header .header-bar__tools-box {
  display: flex;
}
.page-header .header-bar__tools-box .tool-icon {
  cursor: pointer;
}
.page-header .header-bar__tools-box .tool-icon:not(:last-child) {
  margin-right: 2.8rem;
}
.page-header .header-bar__tools-box .tool-icon svg {
  height: 2.4rem;
  width: 2.4rem;
}
.page-header .header-category {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.page-header .header-category__list {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
}
.page-header .header-category__list__item {
  transition: all 0.2s;
}
.page-header .header-category__list__item a {
  display: inline-block;
  padding: 1.2rem 0;
}
.page-header .header-category__list__item:not(:last-child) {
  margin-right: 6.4rem;
}
.page-header .header-category__list__item:last-child {
  color: #1e90ff;
}
.page-header .header-category__list__item:last-child {
  color: #1e90ff;
}
.page-header .header-category__list__item:hover {
  color: #1e90ff;
}
.page-header .header-category__list__item:last-child:hover {
  color: #006ad1;
}

.section-billboards,
.section-brands-and-products {
  padding-bottom: 12rem;
}

.section-billboards {
  padding-top: 6rem;
}

.section-categories {
  margin-bottom: 12rem;
}

.billboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
}
.billboard__banners {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.8rem;
}
.billboard__banners__item--1 {
  grid-row: 1/2;
  grid-column: 1/span 3;
}
.billboard__banners__item--2 {
  grid-row: 2/3;
  grid-column: 1/span 2;
}
.billboard__banners__item--3 {
  grid-row: 2/3;
  grid-column: 3/span 1;
}

.main-cards:not(:last-child) {
  padding-bottom: 9rem;
}
.main-cards__top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.4rem;
}
.main-cards__top-bar__icon {
  --icon-size: 4.2rem;
  height: var(--icon-size);
  width: var(--icon-size);
  margin-right: 2.4rem;
}
.main-cards__top-bar__icon img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-cards__top-bar .heading--2 {
  flex: 1;
}
.main-cards__top-bar__see-more {
  display: flex;
  align-items: center;
  color: #1e90ff;
}
.main-cards__top-bar__see-more a {
  color: inherit;
  font-weight: 500;
  font-size: 1.6rem;
  margin-right: 0.6rem;
}
.main-cards__top-bar__see-more .icon-arrow {
  display: flex;
  align-items: center;
}
.main-cards__top-bar__see-more .icon-arrow svg {
  --icon-size: 1.4rem;
  height: var(--icon-size);
  width: var(--icon-size);
  color: inherit;
}
.main-cards__cards {
  display: grid;
  overflow: hidden;
  padding: 0.5rem;
  position: relative;
  --slider-btn-spacing: 0.8rem;
}
.main-cards__cards .card-img img,
.main-cards__cards .card-brand-logo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-cards__cards.variant-banner {
  --column-gap: 4.8rem;
  --column-width: calc((100% - var(--column-gap) * 2) / 3);
  grid-template-columns: repeat(4, var(--column-width));
  column-gap: var(--column-gap);
}
.main-cards__cards.variant-product {
  --column-gap: 3.2rem;
  --column-width: calc((100% - var(--column-gap) * 3) / 4);
  grid-template-columns: repeat(5, var(--column-width));
  column-gap: var(--column-gap);
}
.main-cards__cards__product-card {
  background-color: #fff;
}
.main-cards__cards__product-card,
.main-cards__cards__product-card .card-img {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow: hidden;
}
.main-cards__cards__product-card .card-brand-logo {
  background-color: #fff;
  padding: 2.4rem 5.6rem;
}
.main-cards__cards__product-card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  background-color: #fff;
}
.main-cards__cards__product-card .card-text {
  padding: 2rem 2.8rem;
}
.main-cards__cards__product-card .card-text__price--current {
  font-size: 1.6rem;
  color: #1e90ff;
}
.main-cards__cards__product-card .card-text__price--old {
  font-size: 1.6rem;
  color: #e74c3c;
  margin-bottom: 1.6rem;
}
.main-cards__cards__product-card .card-text__product-title {
  font-size: 1.8rem;
}
.main-cards__cards__btn--prev, .main-cards__cards__btn--next {
  --button-size: 4.8rem;
  height: var(--button-size);
  width: var(--button-size);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #1e90ff;
  cursor: pointer;
}
.main-cards__cards__btn--prev svg, .main-cards__cards__btn--next svg {
  --icon-size: 1.8rem;
  height: var(--icon-size);
  width: var(--icon-size);
  color: #1e90ff;
}
.main-cards__cards__btn--prev {
  left: var(--slider-btn-spacing);
}
.main-cards__cards__btn--next {
  right: var(--slider-btn-spacing);
}

.product-categories {
  display: grid;
  grid-template-areas: "living living bed bed" "garden kids kitchen appliances";
}
.product-categories__item {
  position: relative;
}
.product-categories__item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-categories__item img {
  transition: all 0.35s;
}
.product-categories__item:hover img {
  transform: scale(1.1);
}
.product-categories__item:hover .product-categories__item__link {
  backdrop-filter: brightness(100%);
}
.product-categories__item:hover .product-categories__item__link .category-title {
  background-color: #fff;
  color: #1e90ff;
  animation: category-moveUp 0.3s;
  animation-fill-mode: forwards;
}
@keyframes category-moveUp {
  100% {
    transform: translate(-50%, -80%);
  }
}
.product-categories__item--living-room {
  grid-area: living;
}
.product-categories__item--bed-room {
  grid-area: bed;
}
.product-categories__item--garden {
  grid-area: garden;
}
.product-categories__item--kids {
  grid-area: kids;
}
.product-categories__item--kitchen {
  grid-area: kitchen;
}
.product-categories__item--appliances {
  grid-area: appliances;
}
.product-categories__item__link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: brightness(65%);
  width: 100%;
  height: 100%;
  transition: all 0.35s;
}
.product-categories__item__link .category-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  top: 75%;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 300;
  padding: 0.6rem 2.4rem;
  border: 1px solid #fff;
  transition: all 0.35s;
}
