.main-cards {
  &:not(:last-child) {
    padding-bottom: 9rem;

    @include respond(sm) {
      padding-bottom: 7.2rem;
    }
  }

  &__top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.4rem;

    @include respond(sm) {
      flex-wrap: wrap;
    }

    @include respond(xs) {
      margin-bottom: 1.2rem;
    }

    &__icon {
      --icon-size: 4.2rem;
      @include respond(sm) {
        --icon-size: 3.6rem;
      }

      height: var(--icon-size);
      width: var(--icon-size);
      margin-right: 2.4rem;

      @include respond(sm) {
        margin-right: 1.6rem;
      }

      @include placeImg;
    }

    .heading--2 {
      flex: 1;
    }

    &__see-more {
      display: flex;
      align-items: center;

      @include respond(sm) {
        margin-top: 1.2rem;
        width: 100%;
      }

      @include primaryLink;

      a {
        color: inherit;
        font-weight: 500;
        font-size: 1.6rem;
        margin-right: 0.6rem;

        @include respond(sm) {
          margin-left: auto;
          font-size: 1.4rem;
        }
      }

      .icon-arrow {
        display: flex;
        align-items: center;

        svg {
          --icon-size: 1.4rem;
          height: var(--icon-size);
          width: var(--icon-size);
          color: inherit;
        }
      }
    }
  }

  &__cards {
    display: grid;
    overflow: hidden;
    padding: 0.8rem;
    position: relative;

    .card-img,
    .card-brand-logo {
      @include placeImg;
    }

    &.variant-brand {
      --columns-visible: 3;
      @include respond(lg) {
        --columns-visible: 2;
      }
      @include respond(sm) {
        --columns-visible: 1;
      }

      --column-gap: 4.8rem;
      @include respond(md) {
        --column-gap: 2.8rem;
      }

      --column-width: calc(
        (100% - var(--column-gap) * (var(--columns-visible) - 1)) /
          var(--columns-visible)
      );

      grid-template-columns: repeat(var(--brands-number), var(--column-width));
      column-gap: var(--column-gap);
    }

    &.variant-product-preview {
      --columns-visible: 4;
      @include respond(lg) {
        --columns-visible: 3;
      }
      @include respond(md) {
        --columns-visible: 2;
      }
      @include respond(sm) {
        --columns-visible: 1;
      }

      --column-gap: 3.2rem;
      --column-width: calc(
        (100% - var(--column-gap) * (var(--columns-visible) - 1)) /
          var(--columns-visible)
      );
      grid-template-columns: repeat(5, var(--column-width));
      column-gap: var(--column-gap);
    }

    &.variant-product-list {
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      column-gap: 2.4rem;
      row-gap: 4.8rem;
    }

    &.variant-favorite-products {
      grid-template-columns: 1fr 1fr;
      column-gap: 2.4rem;
      row-gap: 3.6rem;

      @include respond(xlg) {
        grid-template-columns: 1fr;
        justify-items: center;
      }
    }

    // BRAND CARD
    &__brand-card {
      box-shadow: $box-shadow-card;
      background-color: $color-white-background;
      transition: $trans-short;

      &,
      .card-img {
        border-bottom-left-radius: $border-radius-bg;
        border-bottom-right-radius: $border-radius-bg;
        overflow: hidden;
      }

      .card-brand-logo {
        background-color: $color-white-background;
        padding: 2.4rem 5.6rem;

        @include respond(md) {
          padding: 1.8rem 2.8rem;
        }
      }
    }

    // PRODUCT CARD
    &__product-card {
      box-shadow: $box-shadow-card;
      background-color: $color-white-background;
      transition: $trans-short;

      .card-text {
        padding: 2rem 2.8rem;
        font-size: 1.6rem;

        @include respond(xlg) {
          padding: 1.8rem 1.8rem;
          font-size: 1.4rem;
        }

        @include respond(sm) {
          padding: 2.8rem 2.8rem;
          font-size: 1.6rem;
        }

        &__price {
          @include setPriceStyle;
        }

        &__product-title {
          font-size: 1.8rem;
          margin-top: 1.6rem;

          @include respond(xlg) {
            font-size: 1.6rem;
          }

          @include respond(sm) {
            font-size: 1.8rem;
          }
        }
      }
    }

    &__brand-card:hover,
    &__product-card:hover {
      box-shadow: $box-shadow-card-hover;
      transform: translateY(-2px);
    }

    // FAVORITE PRODUCT CARD

    &__favorite-card {
      background-color: $color-white-background;
      display: grid;
      grid-template-columns: 1fr 1.6fr;
      column-gap: 2.4rem;
      box-shadow: $box-shadow-card;

      @include respond(xlg) {
        width: 70%;
      }

      @include respond(lg) {
        width: 90%;
      }

      @include respond(bg) {
        width: 100%;
      }

      @include respond(sm) {
        grid-template-columns: 1fr;
        width: 100%;
      }

      .card-img {
        @include placeImg;
      }

      .card-content {
        padding: 1.2rem 1.2rem 1.2rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include respond(xlg) {
          padding-top: 2.8rem;
          padding-bottom: 2.8rem;
        }

        @include respond(md) {
          padding-top: 1.2rem;
          padding-bottom: 1.2rem;
        }

        @include respond(sm) {
          padding: 2rem 2.4rem;
        }

        &__title {
          font-size: 1.6rem;
          line-height: 1.5;

          @include respond(sm) {
            margin-bottom: 2.4rem;
          }
        }

        &__price {
          line-height: 1.5;

          @include setPriceStyle;

          @include respond(xlg) {
            line-height: 1.9;
          }

          @include respond(md) {
            font-size: 1.2rem;
            line-height: 1.5;
          }

          @include respond(sm) {
            font-size: 1.4rem;
          }
        }

        &__action {
          display: grid;
          grid-template-columns: 3fr 1fr;
          column-gap: 1.6rem;

          @include respond(sm) {
            margin-top: 3.6rem;
          }

          .btn--primary {
            padding: 0.8rem;
            font-weight: 700;
          }

          // .btn--sub {
          // }
        }
      }
    }
  }
}
