.main-cards {
  &:not(:last-child) {
    padding-bottom: 9rem;

    @include respond(sm) {
      padding-bottom: 7.2rem;
    }
  }

  &__top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.4rem;

    @include respond(sm) {
      flex-wrap: wrap;
    }

    @include respond(xs) {
      margin-bottom: 1.2rem;
    }

    &__icon {
      --icon-size: 4.2rem;
      @include respond(sm) {
        --icon-size: 3.6rem;
      }

      height: var(--icon-size);
      width: var(--icon-size);
      margin-right: 2.4rem;

      @include respond(sm) {
        margin-right: 1.6rem;
      }

      @include placeImg;
    }

    .heading--2 {
      flex: 1;
    }

    &__see-more {
      display: flex;
      align-items: center;

      @include respond(sm) {
        margin-top: 1.2rem;
        width: 100%;
      }

      @include primaryLink;

      a {
        color: inherit;
        font-weight: 500;
        font-size: 1.6rem;
        margin-right: 0.6rem;

        @include respond(sm) {
          margin-left: auto;
          font-size: 1.4rem;
        }
      }

      .icon-arrow {
        display: flex;
        align-items: center;

        svg {
          --icon-size: 1.4rem;
          height: var(--icon-size);
          width: var(--icon-size);
          color: inherit;
        }
      }
    }
  }

  // &__cards-container {
  // }

  &__cards {
    display: grid;
    padding: 0.8rem;

    .card-img,
    .card-brand-logo {
      @include placeImg;
    }

    .card-img {
      position: relative;

      .product-card-tags {
        width: 75%;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        @include position-top-left(0.8rem, 0.8rem);

        &__item {
          background-color: red;
          font-size: 1rem;
          padding: 0.5rem;
          line-height: 1;
          border-radius: 3px;
          color: $color-white;

          margin-bottom: 0.6rem;
          &:not(:last-child) {
            margin-right: 0.6rem;
          }

          &--best-seller {
            background-color: $color-tag-best-seller;
          }

          &--new {
            background-color: $color-tag-new;
          }

          &--discount {
            background-color: $color-tag-discount;
          }

          &--free-ship {
            background-color: $color-tag-free-ship;
          }

          &--gift {
            background-color: $color-tag-free-ship;
          }
        }
      }
    }

    &.product-list-preview {
      --columns-visible: 4;
      @include respond(lg) {
        --columns-visible: 3;
      }
      @include respond(md) {
        --columns-visible: 2;
      }
      @include respond(sm) {
        --columns-visible: 1;
      }

      grid-template-columns: repeat(var(--columns-visible), 1fr);
      column-gap: 2.4rem;
      row-gap: 4.8rem;

      .main-cards__cards__product-card-container:hover {
        transform: translateY(-2px);
      }
    }

    &.favorite-product-preview {
      grid-template-columns: 1fr 1fr;
      column-gap: 2.4rem;
      row-gap: 3.6rem;

      @include respond(xlg) {
        grid-template-columns: 1fr;
        justify-items: center;
      }
    }

    // BRAND CARD
    &__brand-card {
      box-shadow: $box-shadow-card;
      background-color: $color-white-background;
      transition: $trans-short;

      &,
      .card-img {
        border-bottom-left-radius: $border-radius-bg;
        border-bottom-right-radius: $border-radius-bg;
        overflow: hidden;
      }

      .card-brand-logo {
        background-color: $color-white-background;
        padding: 2.4rem 5.6rem;

        @include respond(md) {
          padding: 1.8rem 2.8rem;
        }
      }
    }

    // PRODUCT CARD
    &__product-card-container {
      position: relative;
      background-color: $color-white-background;
      box-shadow: $box-shadow-card;
      transition: $trans-short;

      .card-favorite-btn {
        @include position-top-right(0.8rem, 0.8rem);
        cursor: pointer;

        &.active .card-favorite-btn__pop-up {
          display: block;
        }

        &:hover svg {
          color: $color-primary;
        }

        svg {
          --icon-size: 2.4rem;
          width: var(--icon-size);
          height: var(--icon-size);
          color: $color-gray-background;
          transition: $trans-short;
        }

        &__pop-up {
          border-radius: $border-radius-sm;
          box-shadow: $box-shadow-slider-btn;
          text-align: center;
          font-size: 1.1rem;
          background-color: $color-white-background;
          @include position-center;
          top: 160%;
          min-width: 5rem;
          animation: fadesInFormAbove 0.3s;
          display: none;
        }

        @keyframes fadesInFormAbove {
          0% {
            opacity: 0;
            transform: translate(-50%, calc(-50% - 3px));
          }
          100% {
            opacity: 1;
          }
        }
      }
    }

    &__product-card {
      background-color: $color-white-background;

      .card-text {
        padding: 1.8rem 1.8rem;
        font-size: 1.6rem;

        @include respond(xlg) {
          font-size: 1.4rem;
        }

        @include respond(sm) {
          padding: 2.8rem 2.8rem;
          font-size: 1.6rem;
        }

        &__price-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
        }

        &__price {
          @include setPriceStyle;

          &--old {
            font-size: 1.2rem;
          }
        }

        &__product-title {
          font-size: 1.8rem;
          margin-bottom: 0.6rem;
          height: 6rem;
          line-height: 1.6;

          @include respond(xlg) {
            font-size: 1.6rem;
          }

          @include respond(sm) {
            font-size: 1.8rem;
          }
        }
      }
    }

    &__brand-card:hover,
    &__product-card-container:hover {
      box-shadow: $box-shadow-card-hover;
    }

    // FAVORITE PRODUCT CARD

    &__favorite-card {
      background-color: $color-white-background;
      display: grid;
      grid-template-columns: 1fr 1.6fr;
      column-gap: 2.4rem;
      box-shadow: $box-shadow-card;

      @include respond(xlg) {
        width: 70%;
      }

      @include respond(lg) {
        width: 90%;
      }

      @include respond(bg) {
        width: 100%;
      }

      @include respond(sm) {
        grid-template-columns: 1fr;
        width: 100%;
      }

      .card-img {
        @include placeImg;
      }

      .card-content {
        padding: 1.2rem 1.2rem 1.2rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: $trans-short;

        @include respond(xlg) {
          padding-top: 2.8rem;
          padding-bottom: 2.8rem;
        }

        @include respond(md) {
          padding-top: 1.2rem;
          padding-bottom: 1.2rem;
        }

        @include respond(sm) {
          padding: 2rem 2.4rem;
        }

        &__title {
          font-size: 1.6rem;
          line-height: 1.5;
          transition: $trans-short;

          @include respond(sm) {
            margin-bottom: 2.4rem;
          }
        }

        &__price {
          line-height: 1.5;

          @include setPriceStyle;

          @include respond(xlg) {
            line-height: 1.9;
          }

          @include respond(md) {
            font-size: 1.2rem;
            line-height: 1.5;
          }

          @include respond(sm) {
            font-size: 1.4rem;
          }
        }

        &__action {
          display: grid;
          grid-template-columns: 3fr 1fr;
          column-gap: 1.6rem;

          @include respond(sm) {
            margin-top: 3.6rem;
          }

          .btn--primary {
            text-align: center;
            padding: 0.8rem;
            font-weight: 700;
          }
        }
      }
    }

    // NOT FOUND MESSAGE
    @include setNotFoundMessage;
  }
}
