.product-categories {
  display: grid;
  grid-template-areas: "living living bed bed" "garden kids kitchen appliances";

  @include respond(lg) {
    grid-template-areas: "living living" "bed bed" "kitchen kids" "appliances garden";
  }

  @include respond(sm) {
    grid-template-areas: "living" "bed" "kitchen" "kids" "appliances" "garden";
  }

  &__item {
    position: relative;

    @include respond(sm) {
      .product-categories__item__link {
        backdrop-filter: brightness(100%);
      }

      .product-categories__item__link .category-title {
        background-color: $color-white;
        color: $color-primary;
        animation: category-moveUp 0.3s;
        animation-fill-mode: forwards;
      }
    }

    &__img {
      @include placeImg;
      overflow: hidden;
    }

    img {
      transition: $trans-medium;
    }

    &:hover img {
      transform: scale(1.05);
    }

    &:hover .product-categories__item__link {
      backdrop-filter: brightness(100%);
    }

    &:hover .product-categories__item__link .category-title {
      background-color: $color-white;
      color: $color-primary;
      animation: category-moveUp 0.3s;
      animation-fill-mode: forwards;
    }

    @keyframes category-moveUp {
      100% {
        transform: translate(-50%, -60%);
      }
    }

    &--living-room {
      grid-area: living;
    }

    &--bed-room {
      grid-area: bed;
    }

    &--garden {
      grid-area: garden;
    }

    &--kids {
      grid-area: kids;
    }

    &--kitchen {
      grid-area: kitchen;
    }

    &--appliances {
      grid-area: appliances;
    }

    &__link {
      display: block;
      @include position-top-left;
      backdrop-filter: brightness(65%);
      width: 100%;
      height: 100%;
      transition: $trans-medium;

      .category-title {
        @include position-top-center;
        text-align: center;
        top: 75%;
        color: $color-white;
        font-size: 2.4rem;
        font-weight: 300;
        padding: 0.6rem 2.4rem;
        border: $border-white-thin;
        transition: $trans-medium;

        @include respond(xxlg) {
          font-size: 1.8rem;
        }

        @include respond(xlg) {
          padding-left: 1.8rem;
          padding-right: 1.8rem;
        }

        @include respond(lg) {
          padding: 1.2rem 3.6rem;
          font-size: 2.4rem;
          top: 70%;
        }

        @include respond(bg) {
          font-size: 2rem;
          padding: 0.4rem 2.4rem;
        }
      }
    }
  }
}
