/* BREAD CRUMBS */
.bread-crumbs {
  margin-bottom: 4.8rem;

  @include respond(sm) {
    margin-bottom: 3.2rem;
  }

  &__link {
    @include primaryLink;
  }

  &__slash {
    font-size: 1.6rem;
  }
}

/* PAGINATION */

.pagination {
  display: flex;

  &__btn {
    border: $border-gray-thin;
    display: block;
    background-color: $color-white-background;
    padding: 0.8rem 1.4rem;
    color: $color-primary;
    transition: $trans-short;

    &:hover {
      @include category-list-hover;
      border: $border-primary-thin;
    }

    &.active {
      font-weight: 700;
      background-color: $color-primary;
      color: $color-white;
      border: $border-primary-thin;
    }

    &--next,
    &--prev {
      @include respond(md) {
        display: none;
      }
    }

    &--number {
      font-weight: 700;

      &.last-number {
        @include respond(sm) {
          display: none;
        }
      }
    }
  }
}

/* SLIDER ARROW BUTTON */
.slider-btn {
  &--prev,
  &--next {
    z-index: 100;
    --button-size: 4.8rem;
    @include respond(xs) {
      --button-size: 4rem;
    }

    height: var(--button-size);
    width: var(--button-size);

    background-color: $color-white;
    border-radius: 50%;
    box-shadow: $box-shadow-slider-btn;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: $border-primary-thin;
    cursor: pointer;

    svg {
      --icon-size: 1.8rem;
      height: var(--icon-size);
      width: var(--icon-size);
      color: $color-primary;
    }
  }

  &--prev {
    left: 0;
  }

  &--next {
    right: 0;
  }
}

/* SEE MORE PRODUCTS */
.section-more-products {
  margin-top: 8rem;

  .heading--2 {
    font-size: 2.4rem;
  }
}
