/* BREAD CRUMBS */
.bread-crumbs {
  margin-bottom: 4.8rem;

  @include respond(sm) {
    margin-bottom: 3.2rem;
  }

  &__link {
    @include primaryLink;
  }

  &__slash {
    font-size: 1.6rem;
  }
}

/* PAGINATION */

.pagination {
  display: flex;

  &__btn {
    border: $border-gray-thin;
    display: block;
    background-color: $color-white-background;
    padding: 0.8rem 1.4rem;
    color: $color-primary;
    transition: $trans-short;

    &:hover {
      @include category-list-hover;
      border: $border-primary-thin;
    }

    &.active {
      font-weight: 700;
      background-color: $color-primary;
      color: $color-white;
      border: $border-primary-thin;
    }

    &--next,
    &--prev {
      @include respond(md) {
        display: none;
      }
    }

    &--number {
      font-weight: 700;

      &.last-number {
        @include respond(sm) {
          display: none;
        }
      }
    }
  }
}

/* SLIDER ARROW BUTTON */
.slider-btn {
  &--prev,
  &--next {
    z-index: 100;
    --button-size: 4.8rem;
    @include respond(xs) {
      --button-size: 4rem;
    }

    height: var(--button-size);
    width: var(--button-size);

    background-color: $color-white;
    border-radius: 50%;
    box-shadow: $box-shadow-slider-btn;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: $border-primary-thin;
    cursor: pointer;

    svg {
      --icon-size: 1.8rem;
      height: var(--icon-size);
      width: var(--icon-size);
      color: $color-primary;
    }
  }

  &--prev {
    left: 0.8rem;
  }

  &--next {
    right: 0.8rem;
  }
}

/* SEE MORE PRODUCTS */
.section-more-products {
  margin-top: 8rem;

  .heading--2 {
    font-size: 2.4rem;
  }
}

/* MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px) brightness(60%);
  z-index: 300;
  animation: fadesIn 0.3s;
  display: none;

  &.active {
    display: block;
  }

  &__box {
    @include position-center;
    background-color: $color-white-background;
    padding: 4.8rem;
    width: 100%;
    max-width: 48rem;

    @include respond(sm) {
      padding-left: 1.8rem;
      padding-right: 1.8rem;
    }

    &__title {
      line-height: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 6.4rem;

      @include respond(sm) {
        margin-bottom: 3.6rem;
      }

      span {
        font-size: 2.8rem;

        @include respond(sm) {
          font-size: 2.1rem;
        }
      }

      svg {
        color: $color-tag-new;
        margin-right: 2.4rem;
        height: 5.6rem;
        width: 5.6rem;

        @include respond(sm) {
          height: 3.6rem;
          width: 3.6rem;
          margin-right: 1.2rem;
        }
      }
    }

    &__action {
      display: flex;
      justify-content: space-between;

      @include respond(sm) {
        flex-direction: column;
        align-items: center;
      }

      a {
        display: inline-block;
        padding: 0.8rem 2rem;
        font-size: 1.6rem;

        @include respond(sm) {
          text-align: center;
          padding: 0.4rem 2rem;
          min-width: 18rem;
        }

        &:not(:last-child) {
          @include respond(sm) {
            margin-bottom: 1.2rem;
          }
        }
      }
    }
  }

  // Authentication modal
  &.modal-auth {
    .modal__box {
      padding: 2.4rem 1.2rem;
      max-width: 36rem;

      &__title {
        font-size: 2rem;
        margin-bottom: 3.2rem;
      }

      &__action {
        justify-content: space-around;

        button {
          display: inline-block;
          padding: 0.8rem 2rem;
          font-size: 1.6rem;

          @include respond(sm) {
            text-align: center;
            padding: 0.4rem 2rem;
            min-width: 18rem;
          }

          &:not(:last-child) {
            @include respond(sm) {
              margin-bottom: 1.2rem;
            }
          }
        }
      }
    }
  }
}
