.user-dasboard {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 3.2rem;
  align-items: flex-start;

  @include respond(md) {
    grid-template-columns: 1fr;
  }

  .user-container {
    margin-left: 3.2rem;
    margin-right: 3.2rem;
    margin-top: 2.8rem;
    margin-bottom: 2.8rem;
  }

  .user-container-detach {
    padding: 2.8rem 3.2rem;

    &:not(:last-child) {
      margin-bottom: 3.6rem;
    }
  }

  .user-container-detach-sm {
    padding: 1.4rem 3.2rem;
    margin-bottom: 2.4rem;
  }

  .user-nav {
    @include respond(md) {
      display: none;
    }

    @include setDivider($color-primary);

    &__link {
      display: flex;
      align-items: center;
      padding-top: 1.8rem;
      padding-bottom: 1.8rem;

      &:hover span {
        color: $color-primary;
      }

      svg {
        --icon-size: 1.8rem;
        height: var(--icon-size);
        width: var(--icon-size);
        color: $color-primary;
        margin-right: 2.4rem;
      }

      span {
        transition: $trans-short;
      }
    }
  }

  .user-content {
    .heading--3 {
      font-weight: 500;
      margin-bottom: 3.6rem;
    }
  }
}
